<div id="main-menu">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <p><a href="#/singlePlayer" class="btn btn-lg btn-danger main-menu-children" ng-click="singlePlayer()">Single Player</a></p>

            <p><a href="#/multiPlayer" class="btn btn-lg btn-danger main-menu-children" ng-click="multiPlayer()">Multi Player</a></p>

            <p><a href="#/help" class="btn btn-lg btn-warning main-menu-children" ng-click="playSound()">Help</a></p>

            <p><a href="#/settings" class="btn btn-lg btn-warning main-menu-children" ng-click="playSound()">Settings</a></p>

            <p><a href="#/about" class="btn btn-lg btn-warning main-menu-children" ng-click="playSound()">About</a></p>
        </div>
    </div>
</div>
